/Arduino/proyecto_final_bebederos/credentials_firebase.h
/Arduino/Pruebas_varias/Usando_Bluetooth_Serial-integrando_wifi/master_bt/credentials_firebase.h
/Arduino/Pruebas_varias/Usando_WIFI/wifi/credentials_firebase.h
/Arduino/proyecto_final_bebederos/master_esp32/credentials_firebase.h